[submodule "american-river-college"]
	path   = Institutions/American River College
	url    = git@github.com:evil-cheetah-edu/american-river-college.git
	branch = master
[submodule "san-jose-state-university"]
	path   = Institutions/San José State University
	url    = git@github.com:evil-cheetah-edu/san-jose-state-university.git
	branch = master
[submodule "sacramento-state-university"]
	path   = Institutions/Sacramento State University
	url    = git@github.com:evil-cheetah-edu/sacramento-state-university.git
	branch = master
[submodule "kevin-powell-courses"]
	path   = Online Courses/Kevin Powell Courses
	url    = git@github.com:evil-cheetah-edu/kevin-powell-courses.git
	branch = master
